* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-shadow: 2px 2px 2px #c1c0c0a6;
}
img.bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 90%;
}

input#input-name,
input#todo-input {
  font-size: 48px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

input#todo-input {
  font-size: 36px;
  width: 36vw;
}
input#input-name::placeholder,
input#todo-input::placeholder {
  color: #fff;
  text-shadow: 2px 2px 2px #c1c0c0a6;
}

h1#clock {
  font-size: 80px;
}
h1#greeting {
  font-size: 48px;
}

.hidden {
  display: none;
}

ul#todo-list {
  width: 500px;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 16px;
  font-size: 18px;
  list-style: none;
  margin: 20px;
  padding: 16px;
  overflow: scroll;
  background-color: #ffffff8c;
  text-align: center;
}

ul#todo-list li {
  color: #1c1c1c;
  padding: 8px;
}

button#delete-btn {
  margin-left: 8px;
  padding: 3px 5px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #cbffee;
  color: #363636;
}

#weatherAPI {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
